.backDark {
    background-color: #1e1e2f;
}
.sidenav-button {
    display: inline;
    margin-left: 10px;
    transition: all .3s ease 0s;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    :hover{
        color: rgba(255, 255, 255, .8);
        transition: all .3s ease 0s;
    }
}
.taskTItle {
    margin: 10px;
    display: inline-block;
    color: #fff;
}